PORT=3000
NODE_ENV=local
DATABASE_URL=postgresql://[USERNAME]:[PASSWORD]@[HOST]:[PORT]/[DATABASE_NAME]
WAPI_BASE_URL=xxxxxxxxxxxxxxx
OPENAI_API_KEY=xxxxxxxx
SENTRY_URL=xxxxxxxxxxxxxxx
REDIS_URL=redis://localhost
BULL_BOARD_USER=admin
BULL_BOARD_PASSWORD=password
N8N_BASE_URL=xxxxx
ZONIC_API_KEY=keep-it-secret-here